html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

body {
  font-family: "Roboto", sans-serif;
  /* background-color: #49b3a9; */
  background-color: black;
  color: white;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 2rem;
}

input {
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  color: white;
  text-align: center;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}

.darkened {
  background-color: rgba(0, 0, 0, 0.35);
  transition: 1s;
  padding-bottom: 50px;
  min-height: 100vh;
  height: maxvh;
}

.app {
  text-align: center;
  width: 100%;
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.menu-link {
  text-decoration: none;
  color: #212121;
}

.login {
  margin: auto;
  margin-top: 100px;
  width: 600px;
  height: auto;
  border-style: solid;
  border-width: 1px;

  padding: 20px 30px 20px 30px;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.95);

  transition: 1s;
  color: rgba(44, 43, 43);
}

.login input {
  font-size: 1rem;
  color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: rgba(44, 43, 43, 0.3);
  margin-left: 0px;
  padding: 0px;
  width: 80%;
  height: 100%;
}

.login h1 {
  padding: 20px;
  margin: 0;
}

.login label {
  height: 100%;
}

.login-fields {
  padding: 30px 0px 30px 0px;
}

.field {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  padding-bottom: 20px;
}

.in-up {
  padding: 20px 0px 15px 0px;
  font-size: 1rem;
  width: 60%;
  margin: auto;
}

.login-button {
  width: 80%;
  margin: auto;
}

.error {
  margin-top: 20px;
  font-size: 0.8rem;
  color: red;
}

/* LIST PAGE */

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
  margin: auto;
  margin-top: 40px;
  width: 90%;
  height: auto;

  border-radius: 1%;
  padding: 0px 40px 60px 40px;
  font-size: 0.5rem;

  transition: 1s;
  color: white;
}

.stock-list-item {
  border-style: solid;
  border-width: 1px;
  text-align: left;
}

.buttons {
  padding-bottom: 5px;
}

.new-item-input {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: white;
  margin-right: 10px;
  font-size: 1.8rem;
  padding-bottom: 0px;
}

.full-item {
  padding-top: 40px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: rgba(44, 43, 43, 0.3);
}

.full-item input {
  color: rgba(44, 43, 43);
  margin-top: 8px;
}

.item-and-buttons-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.item-text {
  margin-top: 8px;
}

.sign-in {
  font-size: 0.2rem;
}

.no-list {
  margin-top: 30px;
  font-size: 0.7rem;
}

.footer {
  width: 100%;
}

/* DASHBOARD */

.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 100px auto 30px auto;
  width: 90%;
  max-width: 1300px;
  padding-bottom: 40px;
  border-bottom-style: solid;
  border-width: 1px;
}

.dashboard h1 {
  font-size: 4rem;
}

.dashboard-stock-box {
  border-style: solid;
  margin: 0px auto 0 auto;
  width: 80%;
  text-align: left;
}

.stock-box-inner {
  margin: 20px 0 20px 20px;
}

.dashboard-stock-box h1 {
  padding: 0;
  margin: 0;
}

.quote-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.price {
  display: grid;
  grid-template-columns: 1fr 2fr;
  place-items: left;
  height: 60px;
}

.price div {
  height: 100%;
}

.change {
  padding-top: 12px;
}

.arrow {
  padding-top: 20px;
  height: 100%;
}

.stock-search {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  margin: 150px auto 150px auto;
  width: 400px;
  height: 150px;
}

.stock-search input {
  border-style: solid;
  border-color: white;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 30px;
}

.stock-search label {
  font-size: 1.8rem;
}

.MuiTextField-root {
  border-style: solid;
  border-color: white;
}
.MuiTextField-root input {
  color: white;
  background-color: white;
}

.MuiBottomNavigation-root {
  background-color: black;
}

.MuiBottomNavigationAction-root {
  color: white;
}
.MuiBottomNavigationAction-label {
  color: white;
}
.MuiBottomNavigationAction-iconOnly {
  color: #f50057;
}

.MuiBottomNavigationAction-wrapper {
  color: #f50057;

  background-color: black;
  transition: 0.2s;
}

.MuiBottomNavigationAction-wrapper:hover {
  opacity: 0.7;

  background-color: black;
}

.delete-button {
  text-align: right;
  margin: 5px 5px -60px 0px;
  opacity: 0.5;
  transition: 0.5s;
}

.delete-button:hover {
  opacity: 1;
}

.label-message {
  padding-top: 8px;
  font-size: 0.2rem;
  font-style: italic;
}

.footer {
  background-color: rgba(0, 0, 0, 0.35);
  padding-bottom: 10px;
  margin: 0;
  font-size: 0.8rem;
  width: 100%;
}

.footer p {
  padding: 0;
  margin: 0;
}

.no-user-id {
  padding: 20px;
  width: 30%;
  margin: auto;
  margin-top: 100px;
}

@media screen and (min-width: 2000px) {
  .list {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: 70%;
  }
}

@media screen and (max-width: 1100px) {
  .dashboard-stock-box {
    width: 300px;
  }
  .list {
    width: 80%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .login {
    width: 80%;
    font-size: 0.8rem;
  }

  .login-fields {
    padding: 0;
    margin: 0;
  }

  .field label {
    padding: 10px 0;
  }

  .login input {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 900px) {
  .dashboard-search {
    width: 90%;
  }

  .stock-search {
    width: 100%;
  }

  .dashboard-stock-box {
    width: 90%;
    margin-bottom: 20px;
  }

  .list {
    place-items: center;
    gap: 10px;
    margin: auto;
    margin-top: 40px;
    width: 90%;
    height: auto;
    padding: 0px;
    border-radius: 1%;

    font-size: 0.5rem;

    transition: 1s;
    color: white;
  }

  .quote-numbers {
    display: grid;
  }

  .stock-list-item {
    width: 100%;
  }

  .price {
    display: grid;
    grid-template-columns: 1fr;
    place-items: left;
    height: auto;
  }

  .arrow {
    padding-top: 0px;
    height: 100%;
  }

  .arrow svg {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .watchlist {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .watchlist h1 {
    font-size: 2rem;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .stock-box-inner {
    margin: 0px 0 0px 0px;
    padding-left: 10px;
  }

  .footer {
    width: 100%;
    padding: 0px;
  }

  .delete-button {
    text-align: right;
    margin: 0px 0px -50px 0px;
    opacity: 0.5;
    transition: 0.5s;
  }
}

@media screen and (max-width: 650px) {
  .dashboard {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 0px;
    margin: 20px auto auto auto;
    place-items: center;
  }

  .dashboard h1 {
    font-size: 3rem;
  }

  .stock-search {
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .stock-search label {
    font-size: 1.5rem;
  }

  .watchlist {
    margin-top: 40px;
  }

  .sign-in {
    font-size: 6px;
    padding: 0px;
    margin: 0px;
  }

  .list {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .sign-in {
    opacity: 0;
  }
}
